<style>
    .nav-bar{
        padding:20px;
    }
    .nav-bar a{
        font-size: 20px;
        padding:10px;
        color:black;
        text-decoration-line: none;
    }
</style>

<div class="nav-bar">
    <a href="/" class="logo">AppleForum</a>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <a href="/list">List</a>
    <a href="/write">Write</a>
</div> 
