<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../main.css" rel="stylesheet">
</head>

<body>
    <%- include('nav.ejs') %>
    <form action="/add" class="form-box" method="POST">
        <h4>수정하기</h4>
        <input name="title" value="<%= result.title %>">
        <input name="content" value="<%=result.content %>">
        <button type="submit">전송</button>
    </form>
</body>

</html>